<div class="container">
    <main role="main" class="pb-3">
        <!-- Content
                ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="col_one_third">

                        <div class="heading-block fancy-title nobottomborder title-bottom-border">
                            <h4>Por que nos <span>Escolher</span>.</h4>
                        </div>

                        <p class="text-black-50">
                            A <b>Só Carro</b> iniciou suas atividades em 1980 voltada a revenda de carro em todo território nacional,
                            onde cada veículo tem customização específica para cada cliente,
                            sendo o produto final entregue, totalmente adequado as necessidades de
                            cada cliente. Com sede em Cuiabá-MT, enviamos os veículos para qualquer localidade do terrítorio nacional.
                        </p>

                    </div>

                    <div class="col_one_third">

                        <div class="heading-block fancy-title nobottomborder title-bottom-border">
                            <h4>Nossa <span>Missão</span>.</h4>
                        </div>

                        <p class="text-black-50">Oferecer serviços de revenda de veículo de alta qualidade para nossos clientes.</p>

                    </div>

                    <div class="col_one_third col_last">

                        <div class="heading-block fancy-title nobottomborder title-bottom-border">
                            <h4>Nossa <span>Visão</span>.</h4>
                        </div>

                        <p class="text-black-50">
                            Ser uma empresa com ótimo ambiente de trabalho, para colaboradores e clientes, com respeito as normas, leis e regras de mercado.
                        </p>

                    </div>

                </div>
                <div class="row align-items-stretch clearfix">

                    <div class="col-md-5 col-padding" style="background: url('images/team/3.jpg') center center no-repeat; background-size: cover;"></div>

                    <div class="col-md-7 col-padding">
                        <div>
                            <div class="heading-block">
                                <span class="before-heading color">CEO &amp; Cofundador</span>
                                <h3 class="textColor">ZÉ DO CARRO</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section><!-- #content end -->
    </main>
</div>