<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <h1>
                    <div class="text-rotater text-center textColor" data-separator="|" data-rotate="bounceIn" data-speed="2500">
                        SÓ CARROS - <span class="t-rotate textColor">PREÇO BAIXO|ENTREGA RÁPIDA|MELHORES MARCAS|MODELOS NOVOS TODOS OS DIAS</span>
                    </div>
                </h1>
            </div>
            <br />
            <br />

            <!-- Contact Info
                ============================================= -->
            <div class="row clear-bottommargin">

                <div class="col-lg-3 col-md-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-map-marker2 text-danger"></i></a>
                        </div>
                        <h3 class="textColor">Nossa Sede<span class="subtitle textColor">Cuiabá, Mato Grosso</span></h3>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-phone3 text-dark"></i></a>
                        </div>
                        <h3 class="textColor">Fale Conosco<span class="subtitle textColor">(65) 9.0000 0000</span></h3>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 bottommargin clearfix ">
                    <div class="feature-box fbox-center fbox-bg fbox-plain fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-skype2 textColor"></i></a>
                        </div>
                        <h3 class="textColor">Obtenha Suporte<span class="subtitle textColor ">suporte.socarro</span></h3>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-email2 text-success"></i></a>
                        </div>
                        <h3 class="textColor">Nosso Email<span class="subtitle textColor">suporte@socarro.com.br</span></h3>
                    </div>
                </div>

            </div><!-- Contact Info End -->
        </div>
    </div>

</div>